---
import path from "path";
import gamesListImport from "../../data/games.json";
import BaseLayout from "../../layouts/BaseLayout.astro";

const basePath = import.meta.env.BASE_PATH ?? "/JavaScriptOnTheBrain";

const gamesList:GameListItem[] = gamesListImport.map(game => {
	if(!game.link) {
		throw new Error(`Game link is missing for game: ${game.name}`);
	}

	return {
		...game,
		link: game.link.startsWith("http") ? game.link : path.join(basePath, game.link),
		gameScripts: game.gameScripts?.map((script:RuntimeScript) => {
			if(!script.src) {
				throw new Error(`Game script source is missing for game: ${game.name}`);
			}
			return {
				...script,
				src: script.src
				//src: script.src.startsWith("http") ? script.src : path.join(basePath, script.src)
			};
		}),
		gameID: path.basename(game.link).replaceAll(".html", ""),
	}
});

export function getStaticPaths() {
	return gamesListImport.map(game => {
		return {
			params: { game: path.basename(game.link).replaceAll(".html", "") }
		};
	});
}

const activeGame:GameListItem|undefined = (gamesList as GameListItem[]).find(game => game.gameID === Astro.params.game);

if(!activeGame) {
	throw new Error(`Game not found: ${Astro.params.game}`);
}
const debug = import.meta.env.DEBUG_GAMES?true:false;
---
<BaseLayout
	activePage={path.join(basePath, (activeGame?.gameID) ?? "games") + ".html"}
	pageTitle={activeGame?.name}
	gameScripts={activeGame.gameScripts}
	hasTitleHeader={true}
	activeTab="Games">
		{debug && <script is:inline>
			window.debugGames = true;
		</script>}
		<section id="gameplay-area"></section>
		{activeGame.newGamePageDescriptionHTML?
			<p set:html={activeGame.newGamePageDescriptionHTML.replace("{BASE_PATH}", basePath)}></p>:
			<p set:html={activeGame.gamePageDescriptionHTML?.replace("{BASE_PATH}", basePath)}></p>
		}
</BaseLayout>