---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";
import { prependBasePath } from "../scripts/util";

const basePath = import.meta.env.BASE_PATH ?? "/JavaScriptOnTheBrain";
const siteTitle:string = "JavaScript on the Brain";
const gameScripts:RuntimeScript[] = Astro.props.gameScripts ?? [];
const activePage:string = prependBasePath(gameScripts.length>0?"/games":"/", (Astro.props.activePage ?? "/"));
const activeTab:ActiveTab = Astro.props.activeTab ?? "none";
const pageTitle:string|null = Astro.props.pageTitle ?? siteTitle;
const titleElem = (pageTitle && pageTitle != siteTitle)? `${pageTitle} - ${siteTitle}` : siteTitle;
const hasTitleHeader = Astro.props.hasTitleHeader ?? false;
const importMap = Astro.props.importMap ?? null;
const imports = {
	imports: importMap ?? {}
}
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href={prependBasePath("/img/favicon.png")} type="image/png">
	<title>{titleElem}</title>
	<script define:vars={{basePath,activePage,activeTab}} is:inline>
		window.JSOTB = {
			basePath: basePath,
			activePage: activePage,
			activeTab: activeTab,
		};
		let showedAlert = false;
		window.onerror = function(msg, url, lineNo, columnNo, error) {
			if(showedAlert) return true;
			showedAlert = true;
			alert(`${msg} at ${url}:${lineNo}:${columnNo}`);
			if(error && error.stack) {
				console.error(error.stack);
			}
			return true;
		};
	</script>
	{importMap && <script type="importmap" set:html={JSON.stringify(imports)}></script>}
	{gameScripts.map(script => (
		<script src={prependBasePath(script.src)} async={script.async} defer={script.defer} type={script.type ?? "text/javascript"} is:inline></script>
	))}
</head>
<body>
	<article class="page-contents">
		<Header activePage={activePage} activeTab={activeTab} />
		<main>
			{hasTitleHeader && pageTitle && <h2 class="page-title">{pageTitle}</h2>}
			<slot />
		</main>
		<Footer />
	</article>
</body>
</html>